*.tab.c
*.tab.h
lex.yy.c

*.o

build/*
Test/parser
# Python
__pycache__/
*.py[cod]
*.so

# Virtual envs
.venv/
venv/
.pyvenv/
test/ifcopenshell/.venv/
test/ifcopenshell/.pyenv/

# Jupyter
.ipynb_checkpoints/

cram_ws_build/